.about_us .image_wrapper .top {
  position: relative;
  width: 84.1vw;
  height: 380px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px; }
  .about_us .image_wrapper .top .top_image {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 80%; }
  .about_us .image_wrapper .top .top_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

.about_us .image_wrapper .pattern {
  display: flex;
  align-items: center;
  justify-content: center; }
  .about_us .image_wrapper .pattern .pattern_1 {
    width: 80vw;
    margin: 0px auto; }
  .about_us .image_wrapper .pattern .pattern_ipad,
  .about_us .image_wrapper .pattern .pattern_desktop {
    display: none; }

.about_us .image_wrapper .bottom {
  position: relative;
  width: 84.1vw;
  height: 380px;
  display: block;
  margin: 0 auto;
  margin-top: 60px; }
  .about_us .image_wrapper .bottom .bottom_image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: 10% 80%; }
  .about_us .image_wrapper .bottom .bottom_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

@media only screen and (min-width: 768px) {
  .about_us .image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 315px;
    width: 100%;
    margin-bottom: 150px; }
    .about_us .image_wrapper .top {
      height: 100%;
      width: 29vw;
      margin: 0; }
      .about_us .image_wrapper .top .top_image {
        height: 100%;
        width: 100%; }
    .about_us .image_wrapper .pattern {
      margin: 0px 38px; }
      .about_us .image_wrapper .pattern .pattern_1,
      .about_us .image_wrapper .pattern .pattern_desktop {
        display: none; }
      .about_us .image_wrapper .pattern .pattern_ipad {
        display: block; }
    .about_us .image_wrapper .bottom {
      height: 100%;
      width: 29vw;
      margin: 0; }
      .about_us .image_wrapper .bottom .bottom_image {
        height: 100%;
        width: 100%; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .about_us .image_wrapper {
    height: 470px;
    width: 75vw;
    margin: 0 auto 150px;
    grid-gap: 2%; }
    .about_us .image_wrapper .pattern .pattern_ipad,
    .about_us .image_wrapper .pattern .pattern_1 {
      display: none; }
    .about_us .image_wrapper .pattern .pattern_desktop {
      display: block; } }
