.chefs {
  width: 100%; }
  .chefs .image_wrapper {
    margin-top: 160px; }
    .chefs .image_wrapper .top,
    .chefs .image_wrapper .bottom {
      position: relative;
      width: 75vw;
      height: 470px;
      margin: 0px auto;
      margin-bottom: 60px; }
      .chefs .image_wrapper .top .top_image,
      .chefs .image_wrapper .bottom .top_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .chefs .image_wrapper .top .bottom_image,
      .chefs .image_wrapper .bottom .bottom_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100%; }
    .chefs .image_wrapper .top_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: #d3a28e;
      mix-blend-mode: color;
      opacity: 0.3; }
  .chefs .bottom_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto; }
  .chefs .content_wrapper {
    margin-bottom: 100px;
    margin-top: 120px; }
    .chefs .content_wrapper h5 {
      margin-top: 0px; }
    .chefs .content_wrapper p {
      margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .chefs .image_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 470px;
      width: 80%;
      margin: 150px auto 100px;
      grid-gap: 6%; }
      .chefs .image_wrapper .top,
      .chefs .image_wrapper .bottom {
        height: 100%;
        width: 100%;
        margin-bottom: 0px; }
        .chefs .image_wrapper .top .top_image,
        .chefs .image_wrapper .bottom .top_image {
          padding: 0px;
          margin: 0px;
          height: 100%;
          width: 100%; }
        .chefs .image_wrapper .top .bottom_image,
        .chefs .image_wrapper .bottom .bottom_image {
          padding: 0px;
          margin: 0px;
          height: 100%;
          width: 100%; }
    .chefs .content_wrapper h5 {
      margin-top: 0px; }
    .chefs .content_wrapper .title_wrapper h3 {
      letter-spacing: 0.2em; } }
  @media only screen and (min-width: 1024px) {
    .chefs .image_wrapper {
      height: 568px;
      width: 75%;
      margin: 0 auto;
      margin-top: 150px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .chefs {
      display: flex;
      margin: 160px 0px; }
      .chefs .image_wrapper {
        margin: 0px 0px 0px 150px;
        width: 45vw;
        height: 470px; }
        .chefs .image_wrapper .top,
        .chefs .image_wrapper .bottom {
          height: 100%;
          width: 100%;
          margin-bottom: 0px; }
      .chefs .content_wrapper {
        width: 600px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .chefs .content_wrapper .title_Wrapper h3 {
          width: max-content;
          line-height: 1.31em;
          letter-spacing: 0.08em; }
        .chefs .content_wrapper p {
          width: 65%;
          margin-bottom: 40px; }
        .chefs .content_wrapper .butt button {
          margin-bottom: 0px; } }
  @media only screen and (min-width: 1920px) {
    .chefs {
      margin: 180px 0px; }
      .chefs .image_wrapper {
        margin: 0px 3vw 0px 200px;
        width: 46vw;
        height: 600px; }
        .chefs .image_wrapper .top,
        .chefs .image_wrapper .bottom {
          height: 100%;
          width: 100%;
          margin-bottom: 0px; }
      .chefs .content_wrapper {
        width: 600px; }
        .chefs .content_wrapper p {
          width: 80%; } }
