.chefs {
  width: 100%; }
  .chefs .image_wrapper .top_image {
    width: 74.7vw;
    height: 100%;
    margin: 0 auto;
    padding: 160px 0px 50px; }
  .chefs .image_wrapper .bottom_image {
    width: 74.7vw;
    height: 100%;
    margin: 0 auto; }
