footer {
  background: #0b1315;
  width: 100%;
  padding-bottom: 150px; }
  footer h4 {
    font-family: Mr Dafoe;
    font-weight: normal;
    font-size: 47.5828px;
    text-align: center;
    color: #c9ab81;
    margin: 150px auto 50px; }
  footer p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    text-transform: lowercase;
    color: #ffffff;
    margin: 0px 14vw 30px; }
  footer h3 {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    text-transform: lowercase;
    color: #ffffff;
    margin: 0px auto 50px; }
