footer {
  width: 100%;
  margin: 150px 0px 60px; }
  footer h4 {
    font-family: Mr Dafoe;
    font-weight: normal;
    font-size: 47.5828px;
    text-align: center;
    color: #c9ab81;
    margin: 0px auto 50px; }
  footer p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    margin: 0px 14vw 60px; }
  footer .links a {
    display: block;
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    margin: 0px auto 40px;
    width: max-content;
    text-decoration: solid underline #c9ab81;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px; }
  @media only screen and (min-width: 768px) {
    footer {
      margin: 120px 0px 80px; } }
  @media only screen and (min-width: 1024px) {
    footer {
      width: 100%; }
      footer p {
        width: 50%;
        margin: 0 auto 40px; }
        footer p br {
          display: none; }
      footer .links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 60px auto 0px;
        grid-gap: 6%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    footer .links {
      grid-gap: 3%;
      width: 40%; } }
  @media only screen and (min-width: 1920px) {
    footer .links {
      width: 25%; } }
