.from_our_menu {
  background: #0f1d22; }
  .from_our_menu .title_wrapper h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .from_our_menu .title_wrapper .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px; }
    .from_our_menu .title_wrapper .title_Wrapper h3 {
      font-family: Caviar Dreams;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .from_our_menu .title_wrapper .title_Wrapper .left_svg,
    .from_our_menu .title_wrapper .title_Wrapper .right_svg {
      margin: 0 auto; }
  .from_our_menu .card h5 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #C9AB81;
    margin: 40px 0px 10px 14vw; }
  .from_our_menu .card h4 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #C9AB81;
    margin: 0px 0px 10px 14vw; }
  .from_our_menu .card p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0px 14vw; }
  .from_our_menu .btn {
    cursor: pointer;
    background-color: transparent;
    border: 0.804721px solid #c9ab81;
    padding: 16px 33px 12px;
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #ffffff; }
