.from_our_menu {
  background: #0f1d22;
  width: 100%; }
  .from_our_menu .title_wrapper h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .from_our_menu .card h5 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #c9ab81;
    margin: 40px 0px 10px 14vw; }
  .from_our_menu .card h4 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #c9ab81;
    margin: 0px 0px 10px 14vw; }
  .from_our_menu .card p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0px 14vw; }
  .from_our_menu .butt {
    margin-top: 65px;
    padding-bottom: 150px; }
