header {
  min-height: 70px;
  width: 100%;
  background-color: #0b1315; }
  header nav {
    display: flex;
    align-items: center;
    padding: 3vh 11vw;
    height: 70px; }
    header nav h5 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 25px;
      color: #c9ab81; }
    header nav img {
      margin-left: auto; }

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #715b3e; }
