header {
  min-height: 70px;
  width: 100%;
  border-bottom: 2px solid #715b3e; }
  header nav {
    display: flex;
    align-items: center;
    padding: 3vh 11vw;
    height: 70px; }
    header nav h5 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 25px;
      color: #c9ab81; }
    header nav img {
      margin-left: auto; }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    header nav {
      padding: 3vh 7vw; } }
