.landing_page {
  height: 92vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .landing_page .background_image {
    height: 100%;
    width: 100%;
    position: absolute; }
    .landing_page .background_image img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -2;
      object-fit: cover;
      object-position: 40% 60%; }
  .landing_page .image_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 19, 21, 0.6);
    z-index: -1; }
  .landing_page .content_wrapper_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%; }
    .landing_page .content_wrapper_landing h1 {
      font-family: Mr Dafoe, sans-serif;
      font-weight: normal;
      font-size: 81.4026px;
      line-height: 84.5%;
      text-align: center;
      width: min-content;
      color: #c9ab81;
      margin-bottom: 40px; }
    .landing_page .content_wrapper_landing p {
      font-family: Josefin Sans, sans-serif;
      font-weight: 300;
      font-size: 23px;
      line-height: 33px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin-bottom: 40px;
      width: 80%; }
  @media only screen and (min-width: 768px) {
    .landing_page {
      height: 95vh; }
      .landing_page .content_wrapper_landing h1 {
        margin-bottom: 30px;
        width: max-content;
        word-spacing: 20px; }
      .landing_page .content_wrapper_landing p {
        margin: 0;
        margin-bottom: 30px;
        width: 50vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing_page .content_wrapper_landing h1 {
      font-size: 96px; }
    .landing_page .content_wrapper_landing p {
      width: 35vw; } }
  @media only screen and (min-width: 1920px) {
    .landing_page .content_wrapper_landing p {
      width: 30vw; } }
