.our_menu {
  background: #0f1d22;
  width: 100%;
  padding-bottom: 80px; }
  .our_menu .image_wrapper {
    overflow: hidden; }
    .our_menu .image_wrapper .top,
    .our_menu .image_wrapper .mid,
    .our_menu .image_wrapper .bot {
      position: relative;
      width: 75vw;
      height: 380px;
      display: block;
      margin: 75px auto 150px; }
      .our_menu .image_wrapper .top .top_image,
      .our_menu .image_wrapper .top .mid_image,
      .our_menu .image_wrapper .top .bot_image,
      .our_menu .image_wrapper .mid .top_image,
      .our_menu .image_wrapper .mid .mid_image,
      .our_menu .image_wrapper .mid .bot_image,
      .our_menu .image_wrapper .bot .top_image,
      .our_menu .image_wrapper .bot .mid_image,
      .our_menu .image_wrapper .bot .bot_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 10% 60%; }
    .our_menu .image_wrapper .top_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.3); }
    .our_menu .image_wrapper .mid_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.25); }
    .our_menu .image_wrapper .title_wrapper {
      padding-top: 415px; }
      .our_menu .image_wrapper .title_wrapper h5 {
        font-family: Caviar Dreams;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #c9ab81;
        display: flex;
        align-items: center;
        justify-content: center; }
      .our_menu .image_wrapper .title_wrapper h6 {
        font-family: Josefin Sans;
        font-weight: 400;
        font-size: 19px;
        line-height: 39px;
        display: flex;
        align-items: center;
        justify-content: center; }
  @media only screen and (min-width: 768px) {
    .our_menu .top,
    .our_menu .mid,
    .our_menu .bot {
      height: 500px; } }
  @media only screen and (min-width: 1024px) {
    .our_menu .image_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      margin: 0 auto;
      grid-gap: 4%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .our_menu .image_wrapper {
      grid-gap: 4%;
      width: 80%; }
      .our_menu .image_wrapper .top,
      .our_menu .image_wrapper .mid,
      .our_menu .image_wrapper .bot {
        height: 500px; }
      .our_menu .image_wrapper .title_wrapper {
        padding-top: 550px; } }
  @media only screen and (min-width: 1920px) {
    .our_menu .image_wrapper {
      grid-gap: 4%;
      width: 70%; }
      .our_menu .image_wrapper .top,
      .our_menu .image_wrapper .mid,
      .our_menu .image_wrapper .bot {
        height: 620px; }
      .our_menu .image_wrapper .title_wrapper {
        padding-top: 675px; } }
