.reviews {
  background-color: #0f1d22; }
  .reviews .content_wrapper img {
    margin: 0px auto 50px;
    padding-top: 70px; }
  .reviews .content_wrapper p {
    font-family: Miniver;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 0px 11vw 50px; }
  .reviews .content_wrapper h5 {
    font-family: Caviar Dreams;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #c9ab81;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0; }
  .reviews .content_wrapper h6 {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; }
  .reviews .image_wrapper {
    width: 100%;
    min-height: 57.2vh;
    position: relative;
    display: block; }
    .reviews .image_wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .reviews .image_wrapper .img_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(15, 29, 34, 0.5); }
