@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Miniver&family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
header {
  min-height: 70px;
  width: 100%;
  border-bottom: 2px solid #715b3e; }
  header nav {
    display: flex;
    align-items: center;
    padding: 3vh 11vw;
    height: 70px; }
    header nav h5 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 25px;
      color: #c9ab81; }
    header nav img {
      margin-left: auto; }

.landing_page {
  height: 92vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .landing_page .background_image {
    height: 100%;
    width: 100%;
    position: absolute; }
    .landing_page .background_image img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -2;
      object-fit: cover;
      object-position: 40% 60%; }
  .landing_page .image_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 19, 21, 0.6);
    z-index: -1; }
  .landing_page .content_wrapper_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%; }
    .landing_page .content_wrapper_landing h1 {
      font-family: Mr Dafoe, sans-serif;
      font-weight: normal;
      font-size: 81.4026px;
      line-height: 84.5%;
      text-align: center;
      width: min-content;
      color: #c9ab81;
      margin-bottom: 40px; }
    .landing_page .content_wrapper_landing p {
      font-family: Josefin Sans, sans-serif;
      font-weight: 300;
      font-size: 23px;
      line-height: 33px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin-bottom: 40px;
      width: 80%; }
  @media only screen and (min-width: 768px) {
    .landing_page {
      height: 95vh; }
      .landing_page .content_wrapper_landing h1 {
        margin-bottom: 30px;
        width: max-content;
        word-spacing: 20px; }
      .landing_page .content_wrapper_landing p {
        margin: 0;
        margin-bottom: 30px;
        width: 50vw; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .landing_page .content_wrapper_landing h1 {
      font-size: 96px; }
    .landing_page .content_wrapper_landing p {
      width: 35vw; } }
  @media only screen and (min-width: 1920px) {
    .landing_page .content_wrapper_landing p {
      width: 30vw; } }

.about_us .image_wrapper .top {
  position: relative;
  width: 84.1vw;
  height: 380px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px; }
  .about_us .image_wrapper .top .top_image {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 80%; }
  .about_us .image_wrapper .top .top_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

.about_us .image_wrapper .pattern {
  display: flex;
  align-items: center;
  justify-content: center; }
  .about_us .image_wrapper .pattern .pattern_1 {
    width: 80vw;
    margin: 0px auto; }
  .about_us .image_wrapper .pattern .pattern_ipad,
  .about_us .image_wrapper .pattern .pattern_desktop,
  .about_us .image_wrapper .pattern .pattern_desktop_L {
    display: none; }

.about_us .image_wrapper .bottom {
  position: relative;
  width: 84.1vw;
  height: 380px;
  display: block;
  margin: 0 auto;
  margin-top: 60px; }
  .about_us .image_wrapper .bottom .bottom_image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: 10% 80%; }
  .about_us .image_wrapper .bottom .bottom_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

@media only screen and (min-width: 768px) {
  .about_us .image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 315px;
    width: 100%;
    margin-bottom: 150px; }
    .about_us .image_wrapper .top {
      height: 100%;
      width: 29vw;
      margin: 0; }
      .about_us .image_wrapper .top .top_image {
        height: 100%;
        width: 100%; }
    .about_us .image_wrapper .pattern {
      margin: 0px 38px; }
      .about_us .image_wrapper .pattern .pattern_1,
      .about_us .image_wrapper .pattern .pattern_desktop,
      .about_us .image_wrapper .pattern .pattern_desktop_L {
        display: none; }
      .about_us .image_wrapper .pattern .pattern_ipad {
        display: block; }
    .about_us .image_wrapper .bottom {
      height: 100%;
      width: 29vw;
      margin: 0; }
      .about_us .image_wrapper .bottom .bottom_image {
        height: 100%;
        width: 100%; } }

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .about_us .image_wrapper {
    height: 470px;
    width: 75vw;
    margin: 0 auto 150px;
    grid-gap: 2%; }
    .about_us .image_wrapper .pattern .pattern_ipad,
    .about_us .image_wrapper .pattern .pattern_1,
    .about_us .image_wrapper .pattern .pattern_desktop_L {
      display: none; }
    .about_us .image_wrapper .pattern .pattern_desktop {
      display: block; } }

@media only screen and (min-width: 1920px) {
  .about_us .image_wrapper {
    height: 600px;
    width: 70vw;
    margin: 0 auto 160px;
    grid-gap: 3%; }
    .about_us .image_wrapper .pattern .pattern_ipad,
    .about_us .image_wrapper .pattern .pattern_1,
    .about_us .image_wrapper .pattern .pattern_desktop {
      display: none; }
    .about_us .image_wrapper .pattern .pattern_desktop_L {
      display: block; } }

.reviews {
  background-color: #0f1d22; }
  .reviews .content_wrapper img {
    margin: 0px auto 50px;
    padding-top: 70px; }
  .reviews .content_wrapper p {
    font-family: Miniver;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0px 11vw 50px;
    color: #afb8b8; }
  .reviews .content_wrapper h5 {
    font-family: Caviar Dreams;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #c9ab81;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    margin-top: 0px; }
  .reviews .content_wrapper h6 {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px; }
  .reviews .image_wrapper {
    width: 100%;
    height: 530px;
    position: relative;
    display: block; }
    .reviews .image_wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 60%; }
    .reviews .image_wrapper .img_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(15, 29, 34, 0.3); }
  @media only screen and (min-width: 768px) {
    .reviews {
      height: 650px;
      display: flex; }
      .reviews .content_wrapper {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .reviews .content_wrapper p {
          margin: 0px auto 50px;
          width: 30vw; }
        .reviews .content_wrapper h5 {
          margin-top: 0px; }
      .reviews .image_wrapper {
        width: 50vw;
        height: 650px;
        overflow: hidden; }
        .reviews .image_wrapper img {
          width: 100%;
          height: 100%; }
        .reviews .image_wrapper .img_overlay {
          width: 100%;
          height: 100%; } }
  @media only screen and (min-width: 1920px) {
    .reviews {
      height: 850px; }
      .reviews .content_wrapper p {
        width: 25vw; }
      .reviews .image_wrapper {
        height: 850px; } }

.recommendation {
  padding-top: 120px; }
  .recommendation .bottom_img_wrapper {
    position: relative;
    width: 100%;
    height: 26.9vh;
    display: block; }
    .recommendation .bottom_img_wrapper .bottom_img_ {
      position: absolute;
      top: 0;
      left: 12.8vw;
      width: 74.2vw;
      height: 100%;
      object-fit: cover;
      object-position: center center; }
    .recommendation .bottom_img_wrapper .bottom_img_overlay {
      position: absolute;
      top: 0;
      left: 12.8vw;
      width: 74.2vw;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  .recommendation .content_wrapper .title_Wrapper h3 {
    letter-spacing: 0.05em; }
  .recommendation .btn {
    margin-bottom: 100px; }
  @media only screen and (min-width: 768px) {
    .recommendation .bottom_img_wrapper {
      width: 100%;
      height: 460px; }
    .recommendation .content_wrapper .title_Wrapper h3 {
      width: min-content;
      line-height: 1.31em;
      letter-spacing: 0.08em; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .recommendation {
      display: flex;
      margin: 150px 0px;
      padding-top: 0px; }
      .recommendation .bottom_img_wrapper {
        width: 35vw;
        height: 460px;
        margin-left: 160px; }
        .recommendation .bottom_img_wrapper .bottom_img_ {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: 12% 40%; }
        .recommendation .bottom_img_wrapper .bottom_img_overlay {
          height: 100%;
          width: 100%;
          top: 0;
          left: 0; }
      .recommendation .content_wrapper {
        width: 600px;
        margin-left: 40px; }
        .recommendation .content_wrapper h5 {
          margin-top: 40px; }
        .recommendation .content_wrapper .title_Wrapper h3 {
          width: min-content;
          line-height: 1.31em;
          letter-spacing: 0.08em; }
        .recommendation .content_wrapper p {
          width: 80%;
          margin-bottom: 50px; }
        .recommendation .content_wrapper .butt button {
          margin-bottom: 0px; } }
  @media only screen and (min-width: 1920px) {
    .recommendation {
      margin: 160px 0px; }
      .recommendation .bottom_img_wrapper {
        width: 32vw;
        height: 550px;
        margin-left: 14.5vw; }
        .recommendation .bottom_img_wrapper .bottom_img_ {
          object-position: 12% 60%; }
      .recommendation .content_wrapper {
        width: 650px;
        margin-left: 7vw; }
        .recommendation .content_wrapper h5 {
          margin-top: 100px; } }

.from_our_menu {
  background: #0f1d22;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 150px; }
  .from_our_menu .title_wrapper h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .from_our_menu .card_wrapper {
    margin-bottom: 70px; }
    .from_our_menu .card_wrapper .card h5,
    .from_our_menu .card_wrapper .card h4 {
      font-family: Caviar Dreams;
      font-weight: bold;
      text-transform: uppercase;
      color: #c9ab81; }
    .from_our_menu .card_wrapper .card h5 {
      font-size: 14px;
      letter-spacing: 0.2em;
      margin: 40px 0px 10px 14vw; }
    .from_our_menu .card_wrapper .card h4 {
      font-size: 19px;
      letter-spacing: 0.04em;
      margin: 0px 0px 10px 14vw; }
    .from_our_menu .card_wrapper .card p {
      font-family: Josefin Sans;
      font-weight: normal;
      font-size: 19px;
      line-height: 29px;
      letter-spacing: 0.04em;
      margin: 0px 14vw; }
  .from_our_menu .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center; }
    .from_our_menu .btn_wrap .btn {
      margin: 0 auto; }
  .from_our_menu .circle_pattern img {
    display: none; }
  @media only screen and (min-width: 768px) {
    .from_our_menu {
      padding-bottom: 100px; }
      .from_our_menu .title_wrapper h3 {
        width: max-content;
        margin: 0px 60px;
        font-size: 41px; }
      .from_our_menu .title_wrapper .left_svg,
      .from_our_menu .title_wrapper .right_svg {
        margin: initial; }
      .from_our_menu .btn {
        margin: 0 auto; }
      .from_our_menu .circle_pattern {
        width: 270px;
        height: 270px;
        position: absolute;
        left: -73px;
        bottom: -118px; }
        .from_our_menu .circle_pattern img {
          display: block;
          width: 100%;
          height: 100%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .from_our_menu .card_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 6%; }
      .from_our_menu .card_wrapper .card_wrap_1 .card h5 {
        margin: 40px 0px 10px 0px;
        width: 100%; }
      .from_our_menu .card_wrapper .card_wrap_1 .card h4 {
        margin: 0px 0px 10px 0vw;
        width: 100%; }
      .from_our_menu .card_wrapper .card_wrap_1 .card p {
        width: 100%;
        margin: 0px; }
      .from_our_menu .card_wrapper .card_wrap_2 .card h5 {
        margin: 40px 0px 10px 0px;
        width: 100%; }
      .from_our_menu .card_wrapper .card_wrap_2 .card h4 {
        margin: 0px 0px 10px 0vw;
        width: 100%; }
      .from_our_menu .card_wrapper .card_wrap_2 .card p {
        width: 100%;
        margin: 0px; }
    .from_our_menu .butt {
      margin-top: 85px; } }
  @media only screen and (min-width: 1920px) {
    .from_our_menu {
      padding-bottom: 150px; }
      .from_our_menu .card_wrapper {
        margin-bottom: 100px; }
      .from_our_menu .circle_pattern {
        width: 325px;
        height: 325px;
        left: -73px;
        bottom: -118px; } }

.chefs {
  width: 100%; }
  .chefs .image_wrapper {
    margin-top: 160px; }
    .chefs .image_wrapper .top,
    .chefs .image_wrapper .bottom {
      position: relative;
      width: 75vw;
      height: 470px;
      margin: 0px auto;
      margin-bottom: 60px; }
      .chefs .image_wrapper .top .top_image,
      .chefs .image_wrapper .bottom .top_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .chefs .image_wrapper .top .bottom_image,
      .chefs .image_wrapper .bottom .bottom_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100%; }
    .chefs .image_wrapper .top_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.1); }
    .chefs .image_wrapper .bottom_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: #d3a28e;
      mix-blend-mode: color;
      opacity: 0.3; }
  .chefs .content_wrapper {
    margin-bottom: 100px;
    margin-top: 120px; }
    .chefs .content_wrapper h5 {
      margin-top: 0px; }
    .chefs .content_wrapper p {
      margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .chefs .image_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 470px;
      width: 80%;
      margin: 150px auto 100px;
      grid-gap: 6%; }
      .chefs .image_wrapper .top,
      .chefs .image_wrapper .bottom {
        height: 100%;
        width: 100%;
        margin-bottom: 0px; }
        .chefs .image_wrapper .top .top_image,
        .chefs .image_wrapper .bottom .top_image {
          padding: 0px;
          margin: 0px;
          height: 100%;
          width: 100%; }
        .chefs .image_wrapper .top .bottom_image,
        .chefs .image_wrapper .bottom .bottom_image {
          padding: 0px;
          margin: 0px;
          height: 100%;
          width: 100%; }
    .chefs .content_wrapper h5 {
      margin-top: 0px; } }
  @media only screen and (min-width: 1024px) {
    .chefs .image_wrapper {
      height: 568px;
      width: 75%;
      margin: 0 auto;
      margin-top: 150px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .chefs {
      display: flex;
      margin: 160px 0px; }
      .chefs .image_wrapper {
        margin: 0px 0px 0px 150px;
        width: 45vw;
        height: 470px; }
        .chefs .image_wrapper .top,
        .chefs .image_wrapper .bottom {
          height: 100%;
          width: 100%;
          margin-bottom: 0px; }
      .chefs .content_wrapper {
        width: 600px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .chefs .content_wrapper .title_Wrapper h3 {
          width: max-content;
          line-height: 1.31em;
          letter-spacing: 0.08em; }
        .chefs .content_wrapper p {
          width: 65%;
          margin-bottom: 40px; }
        .chefs .content_wrapper .butt button {
          margin-bottom: 0px; } }
  @media only screen and (min-width: 1920px) {
    .chefs {
      margin: 180px 0px; }
      .chefs .image_wrapper {
        margin: 0px 3vw 0px 200px;
        width: 46vw;
        height: 600px; }
        .chefs .image_wrapper .top,
        .chefs .image_wrapper .bottom {
          height: 100%;
          width: 100%;
          margin-bottom: 0px; }
      .chefs .content_wrapper {
        width: 600px; }
        .chefs .content_wrapper p {
          width: 80%; } }

.our_menu {
  background: #0f1d22;
  width: 100%;
  padding-bottom: 80px; }
  .our_menu .image_wrapper {
    overflow: hidden; }
    .our_menu .image_wrapper .top,
    .our_menu .image_wrapper .mid,
    .our_menu .image_wrapper .bot {
      position: relative;
      width: 75vw;
      height: 380px;
      display: block;
      margin: 75px auto 150px; }
      .our_menu .image_wrapper .top .top_image,
      .our_menu .image_wrapper .top .mid_image,
      .our_menu .image_wrapper .top .bot_image,
      .our_menu .image_wrapper .mid .top_image,
      .our_menu .image_wrapper .mid .mid_image,
      .our_menu .image_wrapper .mid .bot_image,
      .our_menu .image_wrapper .bot .top_image,
      .our_menu .image_wrapper .bot .mid_image,
      .our_menu .image_wrapper .bot .bot_image {
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 10% 60%; }
    .our_menu .image_wrapper .top_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.3); }
    .our_menu .image_wrapper .mid_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.25); }
    .our_menu .image_wrapper .title_wrapper {
      padding-top: 415px; }
      .our_menu .image_wrapper .title_wrapper h5 {
        font-family: Caviar Dreams;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #c9ab81;
        display: flex;
        align-items: center;
        justify-content: center; }
      .our_menu .image_wrapper .title_wrapper h6 {
        font-family: Josefin Sans;
        font-weight: 400;
        font-size: 19px;
        line-height: 39px;
        display: flex;
        align-items: center;
        justify-content: center; }
  @media only screen and (min-width: 768px) {
    .our_menu .top,
    .our_menu .mid,
    .our_menu .bot {
      height: 500px; } }
  @media only screen and (min-width: 1024px) {
    .our_menu .image_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      margin: 0 auto;
      grid-gap: 4%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .our_menu .image_wrapper {
      grid-gap: 4%;
      width: 80%; }
      .our_menu .image_wrapper .top,
      .our_menu .image_wrapper .mid,
      .our_menu .image_wrapper .bot {
        height: 500px; }
      .our_menu .image_wrapper .title_wrapper {
        padding-top: 550px; } }
  @media only screen and (min-width: 1920px) {
    .our_menu .image_wrapper {
      grid-gap: 4%;
      width: 70%; }
      .our_menu .image_wrapper .top,
      .our_menu .image_wrapper .mid,
      .our_menu .image_wrapper .bot {
        height: 620px; }
      .our_menu .image_wrapper .title_wrapper {
        padding-top: 675px; } }

footer {
  width: 100%;
  margin: 150px 0px 60px; }
  footer h4 {
    font-family: Mr Dafoe;
    font-weight: normal;
    font-size: 47.5828px;
    text-align: center;
    color: #c9ab81;
    margin: 0px auto 50px; }
  footer p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    margin: 0px 14vw 60px; }
  footer .links a {
    display: block;
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    margin: 0px auto 40px;
    width: max-content;
    text-decoration: solid underline #c9ab81;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px; }
  @media only screen and (min-width: 768px) {
    footer {
      margin: 120px 0px 80px; } }
  @media only screen and (min-width: 1024px) {
    footer {
      width: 100%; }
      footer p {
        width: 50%;
        margin: 0 auto 40px; }
        footer p br {
          display: none; }
      footer .links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 60px auto 0px;
        grid-gap: 6%; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    footer .links {
      grid-gap: 3%;
      width: 40%; } }
  @media only screen and (min-width: 1920px) {
    footer .links {
      width: 25%; } }

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 0.804721px solid #c9ab81;
  padding: 12px 33px 12px;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    background-color: #c9ab81; }

.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .content_wrapper h5 {
    margin: 150px auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver, sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .content_wrapper .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px; }
    .content_wrapper .title_Wrapper h3 {
      font-family: Caviar Dreams, sans-serif;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .content_wrapper .title_Wrapper .left_svg,
    .content_wrapper .title_Wrapper .right_svg {
      margin: 0 auto; }
  .content_wrapper p {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 12.1vw 90px; }
  @media only screen and (min-width: 768px) {
    .content_wrapper .title_Wrapper h3 {
      width: max-content;
      margin: 0px 70px;
      font-size: 41px; }
    .content_wrapper .title_Wrapper .left_svg,
    .content_wrapper .title_Wrapper .right_svg {
      margin: initial; }
    .content_wrapper p {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 1440px) and (orientation: landscape) {
    .content_wrapper p {
      width: 35%; } }
  @media only screen and (min-width: 1920px) {
    .content_wrapper p {
      width: 28%; } }

.title_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px; }
  .title_Wrapper h3 {
    font-family: Caviar Dreams, sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #c9ab81;
    width: min-content; }
  .title_Wrapper .left_svg,
  .title_Wrapper .right_svg {
    margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0b1315; }
  body p,
  body h1,
  body h3,
  body h5,
  body h6,
  body a {
    color: #ffffff; }

#preloader {
  background: #0f1d22;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #preloader .img_1 {
    margin: 30px; }
  #preloader .img_2 {
    margin-left: -15px; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/CaviarDreams.ttf");
  font-weight: normal; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/Caviar_Dreams_Bold.ttf");
  font-weight: bold; }
