@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Miniver&family=Mr+Dafoe&display=swap");
header {
  min-height: 70px;
  width: 100%;
  background-color: #0b1315; }
  header nav {
    display: flex;
    align-items: center;
    padding: 3vh 11vw;
    height: 70px; }
    header nav h5 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 25px;
      color: #c9ab81; }
    header nav img {
      margin-left: auto; }

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #715b3e; }

.landing_page {
  min-height: 92vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .landing_page img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -2; }
  .landing_page .image_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 19, 21, 0.6);
    z-index: -1; }
  .landing_page .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22vh; }
    .landing_page .content_wrapper h1 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 81.4026px;
      line-height: 84.5%;
      text-align: center;
      width: min-content;
      color: #c9ab81;
      margin: 0 auto 40px; }
    .landing_page .content_wrapper p {
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 23px;
      line-height: 33px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin: 0px 10.7vw 40px; }
    .landing_page .content_wrapper .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff; }

.about_us {
  background-color: #0b1315; }
  .about_us .inner_content h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .about_us .inner_content .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .about_us .inner_content .title_Wrapper h3 {
      font-family: Caviar Dreams;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .about_us .inner_content .title_Wrapper .left_svg,
    .about_us .inner_content .title_Wrapper .right_svg {
      margin: 0 auto; }
  .about_us .inner_content p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 12.1vw 90px; }
  .about_us .top {
    position: relative;
    width: 84.1vw;
    height: 380px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px; }
    .about_us .top .top_image {
      position: absolute;
      top: 0;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .about_us .top .top_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }
  .about_us .pattern {
    display: flex;
    align-items: center;
    justify-content: center; }
    .about_us .pattern .pattern_1 {
      transform: scale(0.95);
      margin: 0px auto; }
  .about_us .bottom {
    position: relative;
    width: 84.1vw;
    height: 380px;
    display: block;
    margin: 0 auto;
    margin-top: 60px; }
    .about_us .bottom .bottom_image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
      object-position: 10% 80%; }
    .about_us .bottom .bottom_img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      margin: 0 auto;
      background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

.reviews {
  background-color: #0f1d22; }
  .reviews .content_wrapper img {
    margin: 0px auto 50px;
    padding-top: 70px; }
  .reviews .content_wrapper p {
    font-family: Miniver;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 11vw 50px; }
  .reviews .content_wrapper h5 {
    font-family: Caviar Dreams;
    font-weight: 700;
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #c9ab81;
    display: flex;
    align-items: center;
    justify-content: center; }
  .reviews .content_wrapper h6 {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 19px;
    line-height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 50px; }
  .reviews .image_wrapper {
    width: 100%;
    min-height: 57.2vh;
    position: relative;
    display: block; }
    .reviews .image_wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .reviews .image_wrapper .img_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(15, 29, 34, 0.5); }
  .reviews .section_3a {
    background-color: #0b1315;
    padding-top: 120px; }
    .reviews .section_3a .bottom_img_wrapper {
      position: relative;
      width: 100%;
      height: 26.9vh;
      display: block; }
      .reviews .section_3a .bottom_img_wrapper .bottom_img_ {
        position: absolute;
        top: 0;
        left: 12.8vw;
        width: 74.2vw;
        height: 100%;
        object-fit: cover;
        object-position: 5% 60%; }
      .reviews .section_3a .bottom_img_wrapper .bottom_img_overlay {
        position: absolute;
        top: 0;
        left: 12.8vw;
        width: 74.2vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); }
  .reviews .cnt_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .reviews .cnt_wrapper h5 {
      padding-top: 16vh;
      margin: 0 auto 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Miniver;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #c9ab81; }
    .reviews .cnt_wrapper .title_Wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px; }
      .reviews .cnt_wrapper .title_Wrapper h3 {
        font-family: Caviar Dreams;
        font-weight: 700;
        font-size: 31px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.09em;
        color: #c9ab81;
        width: min-content; }
      .reviews .cnt_wrapper .title_Wrapper .left_svg {
        margin: 0px auto; }
      .reviews .cnt_wrapper .title_Wrapper .right_svg {
        margin: 0px auto; }
    .reviews .cnt_wrapper p {
      font-family: Josefin Sans;
      font-weight: normal;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin: 0px 12.1vw 50px; }
    .reviews .cnt_wrapper .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff;
      margin-bottom: 100px; }

.from_our_menu {
  background: #0f1d22;
  width: 100%; }
  .from_our_menu .title_wrapper h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .from_our_menu .title_wrapper .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px; }
    .from_our_menu .title_wrapper .title_Wrapper h3 {
      font-family: Caviar Dreams;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .from_our_menu .title_wrapper .title_Wrapper .left_svg,
    .from_our_menu .title_wrapper .title_Wrapper .right_svg {
      margin: 0 auto; }
  .from_our_menu .card h5 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #c9ab81;
    margin: 40px 0px 10px 14vw; }
  .from_our_menu .card h4 {
    font-family: Caviar Dreams;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #c9ab81;
    margin: 0px 0px 10px 14vw; }
  .from_our_menu .card p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0px 14vw; }
  .from_our_menu .butt {
    display: flex;
    align-items: center;
    justify-content: center; }
    .from_our_menu .butt .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff;
      margin: 65px 0px 150px; }

.chefs {
  background: #0b1315;
  width: 100%; }
  .chefs .image_wrapper .top_image {
    width: 74.7vw;
    height: 100%;
    margin: 0 auto;
    padding: 160px 0px 50px; }
  .chefs .image_wrapper .bottom_image {
    width: 74.7vw;
    height: 100%;
    margin: 0 auto; }
  .chefs .content_wrapper h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .chefs .content_wrapper .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .chefs .content_wrapper .title_Wrapper h3 {
      font-family: Caviar Dreams;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .chefs .content_wrapper .title_Wrapper .left_svg,
    .chefs .content_wrapper .title_Wrapper .right_svg {
      margin: 0 auto; }
  .chefs .content_wrapper p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 12.1vw 90px; }
  .chefs .butt {
    display: flex;
    align-items: center;
    justify-content: center; }
    .chefs .butt .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff;
      margin: 0px 0px 150px; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/CaviarDreams.ttf");
  font-weight: normal; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/Caviar_Dreams_Bold.ttf");
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0b1315; }
