@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Miniver&family=Mr+Dafoe&display=swap");
header {
  min-height: 70px;
  width: 100%;
  background-color: #0b1315; }
  header nav {
    display: flex;
    align-items: center;
    padding: 3vh 11vw;
    height: 70px; }
    header nav h5 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 25px;
      color: #c9ab81; }
    header nav img {
      margin-left: auto; }

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #715b3e; }

.section_1 {
  min-height: 92vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .section_1 img {
    position: absolute;
    height: 100%;
    width: initial;
    left: initial;
    right: -59vh;
    z-index: -2; }
  .section_1 .image_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11, 19, 21, 0.6);
    z-index: -1; }
  .section_1 .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22vh; }
    .section_1 .content_wrapper h1 {
      font-family: Mr Dafoe;
      font-weight: normal;
      font-size: 81.4026px;
      line-height: 84.5%;
      text-align: center;
      width: min-content;
      color: #c9ab81;
      margin: 0 auto 40px; }
    .section_1 .content_wrapper p {
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 23px;
      line-height: 33px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin: 0px 10.7vw 40px; }
    .section_1 .content_wrapper .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff; }

.section_2 {
  background-color: #0b1315; }
  .section_2 h5 {
    padding-top: 16vh;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Miniver;
    font-weight: normal;
    font-size: 19px;
    line-height: 120%;
    color: #c9ab81; }
  .section_2 .title_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .section_2 .title_Wrapper h3 {
      font-family: Caviar Dreams;
      font-weight: 700;
      font-size: 31px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #c9ab81;
      width: min-content; }
    .section_2 .title_Wrapper .left_svg,
    .section_2 .title_Wrapper .right_svg {
      margin: 0 auto; }
  .section_2 p {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 12.1vw 90px; }
  .section_2 .top {
    position: relative;
    width: 100%;
    height: 41vh;
    display: block;
    margin-bottom: 60px; }
    .section_2 .top .top_image {
      position: absolute;
      top: 0;
      left: 8.1vw;
      width: 84.1vw;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .section_2 .top .top_img_overlay {
      position: absolute;
      width: 84.1vw;
      height: 100%;
      top: 0;
      left: 8.1vw;
      background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }
  .section_2 .pattern {
    display: flex;
    align-items: center;
    justify-content: center; }
    .section_2 .pattern .pattern_1 {
      transform: scale(0.95);
      margin: 0px auto; }
  .section_2 .bottom {
    position: relative;
    width: 100%;
    height: 41vh;
    display: block;
    margin-top: 60px; }
    .section_2 .bottom .bottom_image {
      position: absolute;
      top: 0;
      left: 8.1vw;
      width: 84.1vw;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .section_2 .bottom .bottom_img_overlay {
      position: absolute;
      width: 84.1vw;
      height: 100%;
      top: 0;
      left: 8.1vw;
      background: radial-gradient(60.18% 58.9% at 50% 50%, rgba(11, 19, 21, 0) 40.54%, #0b1315 100%); }

.section_3 {
  background-color: #0f1d22; }
  .section_3 .content_wrapper img {
    margin: 0px auto 50px;
    padding-top: 70px; }
  .section_3 .content_wrapper p {
    font-family: Miniver;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0px 11vw 50px; }
  .section_3 .content_wrapper h5 {
    font-family: Caviar Dreams;
    font-weight: 700;
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #c9ab81;
    display: flex;
    align-items: center;
    justify-content: center; }
  .section_3 .content_wrapper h6 {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 19px;
    line-height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 50px; }
  .section_3 .image_wrapper {
    width: 100%;
    min-height: 57.2vh;
    position: relative;
    display: block; }
    .section_3 .image_wrapper img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 10% 80%; }
    .section_3 .image_wrapper .img_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 19, 21, 0.3); }
  .section_3 .section_3a {
    background-color: #0b1315;
    padding-top: 120px; }
    .section_3 .section_3a .bottom_img_wrapper {
      position: relative;
      width: 100%;
      height: 26.9vh;
      display: block; }
      .section_3 .section_3a .bottom_img_wrapper .bottom_img_ {
        position: absolute;
        top: 0;
        left: 12.8vw;
        width: 74.2vw;
        height: 100%;
        object-fit: cover;
        object-position: 5% 60%; }
      .section_3 .section_3a .bottom_img_wrapper .bottom_img_overlay {
        position: absolute;
        top: 0;
        left: 12.8vw;
        width: 74.2vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); }
  .section_3 .cnt_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section_3 .cnt_wrapper h5 {
      padding-top: 16vh;
      margin: 0 auto 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Miniver;
      font-weight: normal;
      font-size: 19px;
      line-height: 120%;
      color: #c9ab81; }
    .section_3 .cnt_wrapper .title_Wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px; }
      .section_3 .cnt_wrapper .title_Wrapper h3 {
        font-family: Caviar Dreams;
        font-weight: 700;
        font-size: 31px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.09em;
        color: #c9ab81;
        width: min-content; }
      .section_3 .cnt_wrapper .title_Wrapper .left_svg,
      .section_3 .cnt_wrapper .title_Wrapper .right_svg {
        margin: 0 auto; }
    .section_3 .cnt_wrapper p {
      font-family: Josefin Sans;
      font-weight: normal;
      font-size: 19px;
      line-height: 29px;
      text-align: center;
      letter-spacing: -0.04em;
      color: #ffffff;
      margin: 0px 12.1vw 50px; }
    .section_3 .cnt_wrapper .btn {
      cursor: pointer;
      background-color: transparent;
      border: 0.804721px solid #c9ab81;
      padding: 16px 33px 12px;
      font-family: Josefin Sans;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.1em;
      color: #ffffff;
      margin-bottom: 100px; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/CaviarDreams.ttf");
  font-weight: normal; }

@font-face {
  font-family: Caviar Dreams;
  src: url("../fonts/Caviar_Dreams_Bold.ttf");
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * img {
    display: block; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
