.chefs {
	width: 100%;
	.image_wrapper {
		margin-top: 160px;

		.top,
		.bottom {
			position: relative;
			width: 75vw;
			height: 470px;
			margin: 0px auto;
			margin-bottom: 60px;
			.top_image {
				position: absolute;
				top: 0;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.bottom_image {
				position: absolute;
				top: 0;
				margin: 0 auto;
				// left: 8.1vw;
				// width: 84.1vw;
				width: 100%;
				height: 100%;
				object-fit: cover;
				height: 100%;
			}
		}
		.top_img_overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			margin: 0 auto;
			background: rgba(0, 0, 0, 0.1);
		}
		.bottom_img_overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			margin: 0 auto;
			background: #d3a28e;
			mix-blend-mode: color;
			opacity: 0.3;
		}
	}
	.content_wrapper {
		margin-bottom: 100px;
		margin-top: 120px;
		h5 {
			margin-top: 0px;
		}
		p {
			margin-bottom: 40px;
		}
	}
	@media only screen and (min-width: 768px) {
		.image_wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 470px;
			// height: 100%;
			width: 80%;
			// width: 100%;
			margin: 150px auto 100px;
			grid-gap: 6%;
			// margin: 0 auto;
			.top,
			.bottom {
				height: 100%;
				width: 100%;
				margin-bottom: 0px;
				// margin-top: 150px;
				.top_image {
					padding: 0px;
					margin: 0px;
					height: 100%;
					width: 100%;

					// padding-right: 27px;
				}
				.bottom_image {
					padding: 0px;
					margin: 0px;
					height: 100%;
					width: 100%;
					// padding-left: 27px;
				}
			}
		}
		.content_wrapper {
			h5 {
				margin-top: 0px;
			}
		}
	}
	@media only screen and (min-width: 1024px) {
		.image_wrapper {
			height: 568px;
			width: 75%;
			margin: 0 auto;
			margin-top: 150px;
		}
	}

	@media only screen and (min-width: 1440px) and (orientation: landscape) {
		display: flex;
		margin: 160px 0px;
		.image_wrapper {
			margin: 0px 0px 0px 150px;
			width: 45vw;
			height: 470px;
			.top,
			.bottom {
				height: 100%;
				width: 100%;
				margin-bottom: 0px;
				// margin-top: 150px;
			}
		}
		.content_wrapper {
			width: 600px;
			margin: 0px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// margin-left: 40px;
			// h5 {
			// 	margin-top: 70px;
			// }
			.title_Wrapper {
				h3 {
					width: max-content;
					line-height: 1.31em;
					letter-spacing: 0.08em;
				}
			}
			p {
				width: 65%;
				margin-bottom: 40px;
			}
			.butt {
				button {
					margin-bottom: 0px;
				}
			}
		}
	}
	@media only screen and (min-width: 1920px) {
		margin: 180px 0px;
		.image_wrapper {
			margin: 0px 3vw 0px 200px;
			width: 46vw;
			height: 600px;
			.top,
			.bottom {
				height: 100%;
				width: 100%;
				margin-bottom: 0px;
				// margin-top: 150px;
			}
		}
		.content_wrapper {
			width: 600px;
			// margin-left: -120px;
			// h5 {
			// 	margin-top: 150px;
			// }

			p {
				width: 80%;
			}
		}
	}
}
