.chefs {
	width: 100%;
	.image_wrapper {
		.top_image {
			width: 74.7vw;
			height: 100%;
			margin: 0 auto;
			padding: 160px 0px 50px;
		}
		.bottom_image {
			width: 74.7vw;
			height: 100%;
			margin: 0 auto;
		}
	}
}
