.chefs {
	width: 100%;
	.image_wrapper {
		.top_image {
			width: 74.7vw;
			height: 100%;
			margin: 0 auto;
			padding: 160px 0px 50px;
		}
		.bottom_image {
			width: 74.7vw;
			height: 100%;
			margin: 0 auto;
		}
	}
	@media only screen and (min-width: 768px) {
		.image_wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 435px;
			width: 100%;
			margin-top: 150px;
			.top_image {
				padding: 0px;
				margin: 0px;
				height: 100%;
				width: initial;
				padding-right: 27px;
			}
			.bottom_image {
				padding: 0px;
				margin: 0px;
				height: 100%;
				width: initial;
				padding-left: 27px;
			}
		}
		.content_wrapper {
			h5 {
				margin-top: 80px;
			}
		}
	}
	@media only screen and (min-width: 1024px) {
		.image_wrapper {
			height: 568px;
		}
	}

	@media only screen and (min-width: 1440px) and (orientation: landscape) {
		display: flex;
		margin: 160px 0px;
		.image_wrapper {
			margin-top: 0px;
			// margin-left: 100px;
			width: 60vw;
			height: 465px;
			.top_image {
				height: 100%;
				width: initial;
				padding-right: 20px;
			}
			.bottom_image {
				height: 100%;
				width: initial;
				padding-left: 20px;
			}
		}
		.content_wrapper {
			width: 600px;
			margin-left: -80px;
			h5 {
				margin-top: 70px;
			}
			.title_Wrapper {
				h3 {
					width: max-content;
					line-height: 1.31em;
					letter-spacing: 0.08em;
				}
			}
			p {
				width: 65%;
				margin-bottom: 50px;
			}
			.butt {
				button {
					margin-bottom: 0px;
				}
			}
		}
	}
	@media only screen and (min-width: 1920px) {
		margin: 180px 0px;
		.image_wrapper {
			height: 600px;
			.top_image {
				padding-right: 30px;
			}
			.bottom_image {
				padding-left: 30px;
			}
		}
		.content_wrapper {
			width: 600px;
			margin-left: -120px;
			h5 {
				margin-top: 150px;
			}

			p {
				width: 80%;
			}
		}
	}
}
