footer {
	background: #0b1315;
	width: 100%;
	padding-bottom: 150px;
	h4 {
		font-family: Mr Dafoe;
		font-weight: normal;
		font-size: 47.5828px;
		text-align: center;
		color: #c9ab81;
		margin: 150px auto 50px;
	}
	p {
		font-family: Josefin Sans;
		font-weight: normal;
		font-size: 19px;
		text-align: center;
		color: #ffffff;
		margin: 0px 14vw 60px;
	}

	.links {
		a {
			display: block;
			font-family: Josefin Sans;
			font-weight: normal;
			font-size: 19px;
			text-align: center;
			color: #ffffff;
			margin: 0px auto 45px;
			width: max-content;
			text-decoration: solid underline #c9ab81;
			text-decoration-thickness: 1px;
			text-underline-offset: 8px;
			border-bottom: 1px solid #c9ab81;
		}
	}
}
