footer {
	background: #0f1d22;
	width: 100%;
	// max-height: 100vh;
	padding: 150px 0px 60px;
	h4 {
		font-family: Mr Dafoe;
		font-weight: normal;
		font-size: 47.5828px;
		text-align: center;
		color: #c9ab81;
		margin: 0px auto 50px;
	}
	p {
		font-family: Josefin Sans;
		font-weight: normal;
		font-size: 19px;
		text-align: center;
		margin: 0px 14vw 60px;
	}

	.links {
		a {
			display: block;
			font-family: Josefin Sans;
			font-weight: normal;
			font-size: 19px;
			text-align: center;
			margin: 0px auto 40px;
			width: max-content;
			text-decoration: solid underline #c9ab81;
			text-decoration-thickness: 1px;
			text-underline-offset: 5px;
			// border-bottom: 1px solid #c9ab81;
		}
	}
	@media only screen and (min-width: 768px) {
	}

	@media only screen and (min-width: 1024px) {
		width: 100%;
		p {
			width: 50%;
			margin: 0 auto 40px;
			br {
				display: none;
			}
		}
		.links {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			margin: 60px auto 0px;
			grid-gap: 6%;
		}
	}

	@media only screen and (min-width: 1440px) and (orientation: landscape) {
		.links {
			grid-gap: 3%;
			width: 40%;
		}
	}
}
