.header {
	min-height: 70px;
	width: 100%;
	background-color: #0b1315;
	header {
		.nav_bar {
			display: flex;
			align-items: center;
			padding: 3vh 11vw;
			height: 70px;
			h5 {
				font-family: Mr Dafoe;
				font-weight: normal;
				font-size: 25px;
				line-height: 84.5%;
				color: #c9ab81;
			}
			img {
				margin-left: auto;
			}
		}
	}
}
.line {
	width: 100%;
	height: 2px;
	background-color: #715b3e;
}
