header {
	min-height: 70px;
	width: 100%;
	border-bottom: 2px solid #715b3e;
	nav {
		display: flex;
		align-items: center;
		padding: 3vh 11vw;
		height: 70px;
		h5 {
			font-family: Mr Dafoe;
			font-weight: normal;
			font-size: 25px;
			color: #c9ab81;
			// line-height: 120%;
		}
		img {
			margin-left: auto;
		}
	}
	@media only screen and (min-width: 768px) {
	}

	@media only screen and (min-width: 1440px) and (orientation: landscape) {
		nav {
			padding: 3vh 7vw;
		}
	}
}

// .line {
// 	display: block;
// 	width: 100%;
// 	height: 2px;
// 	background-color: #715b3e;
// }
