.recommendation {
	padding-top: 120px;
	.bottom_img_wrapper {
		position: relative;
		width: 100%;
		height: 26.9vh;
		display: block;

		.bottom_img_ {
			position: absolute;
			top: 0;
			left: 12.8vw;
			width: 74.2vw;
			height: 100%;
			object-fit: cover;
			object-position: 5% 60%;
		}
		.bottom_img_overlay {
			position: absolute;
			top: 0;
			left: 12.8vw;
			width: 74.2vw;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}
	}

	.content_wrapper {
		.title_Wrapper {
			h3 {
				letter-spacing: 0.05em;
			}
		}
	}

	.btn {
		margin-bottom: 100px;
	}
	@media only screen and (min-width: 768px) {
		.bottom_img_wrapper {
			width: 100%;
			height: 460px;
		}
		.content_wrapper {
			.title_Wrapper {
				h3 {
					width: min-content;
					line-height: 1.31em;
					letter-spacing: 0.08em;
				}
			}
		}
	}

	@media only screen and (min-width: 1440px) and (orientation: landscape) {
		display: flex;
		margin: 150px 0px;
		padding-top: 0px;
		.bottom_img_wrapper {
			width: 35vw;
			height: 460px;
			margin-left: 160px;

			.bottom_img_ {
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: 12% 40%;
			}
			.bottom_img_overlay {
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
			}
		}
		.content_wrapper {
			width: 600px;
			margin-left: 40px;
			h5 {
				margin-top: 40px;
			}
			.title_Wrapper {
				h3 {
					width: min-content;
					line-height: 1.31em;
					letter-spacing: 0.08em;
				}
			}
			p {
				width: 80%;
				margin-bottom: 50px;
			}
			.butt {
				button {
					margin-bottom: 0px;
				}
			}
		}
	}
	@media only screen and (min-width: 1920px) {
		margin: 160px 0px;
		.bottom_img_wrapper {
			width: 32vw;
			height: 550px;
			margin-left: 14.5vw;
			.bottom_img_ {
				object-position: 12% 60%;
			}
		}
		.content_wrapper {
			width: 650px;
			margin-left: 7vw;
			h5 {
				margin-top: 100px;
			}
		}
	}
}
