.section_2 {
	background-color: #0b1315;

	h5 {
		padding-top: 16vh;
		margin: 0 auto 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Miniver;
		font-weight: normal;
		font-size: 19px;
		line-height: 120%;
		color: #c9ab81;
	}
	.title_Wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;

		h3 {
			font-family: Caviar Dreams;
			font-weight: 700;
			font-size: 31px;
			line-height: 39px;
			text-align: center;
			letter-spacing: 0.25em;
			color: #c9ab81;
			width: min-content;
		}

		.left_svg,
		.right_svg {
			margin: 0 auto;
		}
	}
	p {
		font-family: Josefin Sans;
		font-weight: normal;
		font-size: 19px;
		line-height: 29px;
		text-align: center;
		letter-spacing: -0.04em;
		color: #ffffff;
		margin: 0px 12.1vw 90px;
	}
	.top {
		position: relative;
		width: 100%;
		height: 41vh;
		display: block;
		margin-bottom: 60px;
		.top_image {
			position: absolute;
			top: 0;
			left: 8.1vw;
			width: 84.1vw;
			height: 100%;
			object-fit: cover;
			object-position: 10% 80%;
		}
		.top_img_overlay {
			position: absolute;
			width: 84.1vw;
			height: 100%;
			top: 0;
			left: 8.1vw;
			background: radial-gradient(
				60.18% 58.9% at 50% 50%,
				rgba(11, 19, 21, 0) 40.54%,
				#0b1315 100%
			);
		}
	}
	.pattern {
		display: flex;
		align-items: center;
		justify-content: center;
		.pattern_1 {
			transform: scale(0.95);
			margin: 0px auto;
		}
	}
	.bottom {
		position: relative;
		width: 100%;
		height: 41vh;
		display: block;
		margin-top: 60px;
		.bottom_image {
			position: absolute;
			top: 0;
			left: 8.1vw;
			width: 84.1vw;
			height: 100%;
			object-fit: cover;
			object-position: 10% 80%;
		}
		.bottom_img_overlay {
			position: absolute;
			width: 84.1vw;
			height: 100%;
			top: 0;
			left: 8.1vw;
			background: radial-gradient(
				60.18% 58.9% at 50% 50%,
				rgba(11, 19, 21, 0) 40.54%,
				#0b1315 100%
			);
		}
	}
}
