.section_1 {
	min-height: 92vh;
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		height: 100%;
		width: initial;
		left: initial;
		right: -59vh;
		z-index: -2;
	}
	.image_cover {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(11, 19, 21, 0.6);
		z-index: -1;
	}
	.content_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 22vh;
		h1 {
			font-family: Mr Dafoe;
			font-weight: normal;
			font-size: 81.4026px;
			line-height: 84.5%;
			text-align: center;
			width: min-content;
			color: #c9ab81;
			margin: 0 auto 40px;
		}
		p {
			font-family: Josefin Sans;
			font-weight: 300;
			font-size: 23px;
			line-height: 33px;
			text-align: center;
			letter-spacing: -0.04em;
			color: #ffffff;
			margin: 0px 10.7vw 40px;
		}
		.btn {
			cursor: pointer;
			background-color: transparent;
			border: 0.804721px solid #c9ab81;
			padding: 16px 33px 12px;
			font-family: Josefin Sans;
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 0.1em;
			color: #ffffff;
		}
	}
}
