@import "header.scss";
@import "landing_page.scss";
@import "about_us.scss";
@import "reviews.scss";
@import "recommendation.scss";
@import "from_our_menu.scss";
@import "chefs.scss";
@import "our_menu.scss";
@import "footer.scss";
@import "common_code.scss";

// imported fonts from google fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Miniver&family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

//  imported font from local storage
@font-face {
	font-family: Caviar Dreams;
	src: url("../fonts/CaviarDreams.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Caviar Dreams;
	src: url("../fonts/Caviar_Dreams_Bold.ttf");
	font-weight: bold;
}
